{% load i18n %}
{% load static %}
<head>

</head>

<body>
    current state: 
    <p id="progress">
        connecting...
    </p>

    <form id="quizform">
            <div id="quizcontents">
            </div>
            <input id="nextbutton" type="submit" value="Start quiz">
    </form>

</body>

<script>
    let url = `ws://${window.location.host}/ws/quiz-stream`
        const quizSocket = new WebSocket(url)

        // function for submit button
        window.addEventListener("DOMContentLoaded", (event) => { //do after page loads
            const form = document.querySelector('form');
            function handleForm(event) {
                event.preventDefault(); //page does not refresh on submit
                console.log("submitted");
            }
            form.addEventListener('submit', handleForm, true);
        });

        quizSocket.onmessage = function (message) {
            // const fform = document.getElementById("quizform");
            // fform.removeEventListener('submit', handleForm, true);

            let data = JSON.parse(message.data);
            console.log('Data: ', data);

            const progress = document.getElementById("progress");
            const form = document.getElementById("quizform");

            if (data.type == 'connected') {
                progress.innerHTML = "connected"
                var handleForm = function(event) {
                    quizSocket.send(JSON.stringify({
                        'type': 'start',
                        'qid': {{quiz.id}}
                    }));
                }
                const form = document.querySelector('form');
                form.addEventListener('submit', handleForm, {once: true});
            };

            if(data.type === 'first_section') {
                console.log("data sect pos: " + data.section.position);
                var handleForm = function(event) {
                    quizSocket.send(JSON.stringify({
                        'type':'next',
                        'qid': {{ quiz.id }},
                        'position': data.section.position
                    }))
                }
                const form = document.querySelector('form');
                form.addEventListener('submit', handleForm, {once: true});
            }

            if(data.type === 'next_section') {
                var handleForm = function(event) {
                    quizSocket.send(JSON.stringify({
                        'type':'answer',
                        'section_type': 'mcq',
                        'question_id': data.section.sid,
                        'selected_id': 1
                    }))
                }
                const form = document.querySelector('form');
                form.addEventListener('submit', handleForm, {once: true});
            }
        }
</script>